<div class="container" id="app-container">
    <div class="row">
        <h1>GlimmerJS Docs</h1>
    </div>
  <div class="row">
    <div class="four columns" id="menu-container">
        <left-menu @content={{content}} />
    </div>
    <div class="eight columns" id="content-container">
        <main-content @content={{content}} />
    </div>
  </div>
</div>
